.correo {
       margin-top: 10%;
       text-align: center;
}

h6{
	font-weight:bold;
}


body{
	background: #b2dfdb;
}

#contacto {
      
       text-align: center;
        

}


.hola {

	
	position:relative;
	position:absolute;
     bottom:90px;
     right:5px;

}

#imagen {
              

}

#ocultar{
	visibility: hidden;
	display: none;
}

#botones{
	text-align: center;
}

