.correo {
       

    position:relative;
	position:absolute;
     bottom:-40px;
     right:300px;



}

h6{
	font-weight:bold;
}


body{
	background: #b2dfdb;
}

#contacto {
      
       text-align: center;
        

}


.hola {

	
	position:relative;
	position:absolute;
     bottom:70px;
     right:0px;

}


.loc {

	
	position:relative;
	position:absolute;
     bottom:-45px;
     left:300px;

}

.llam{
	 
	  text-align: center;
        
         
}
