.correo {
       margin-top: 10%;
       text-align: center;
}

h6{
	font-weight:bold;
}


body{
	 background-image: url(https://firebasestorage.googleapis.com/v0/b/bd-veterinaria.appspot.com/o/fondo.jpg?alt=media&token=12f20ac7-24a9-4c82-bd47-ae2a48b8e27a);
	 width: 100%;
    height: auto
}

#contacto {
      
       text-align: center;
        

}


.hola {

	
	position:relative;
	position:absolute;
     bottom:90px;
     right:5px;

}

#imagen {
              

}

#ocultar{
	visibility: hidden;
	display: none;
}

#botones{
	text-align: center;
}

